header {
    .navbar-nav {
        gap: 25px;
        .nav-link {
            text-transform: capitalize;
            &:hover {
                color: $secondary;
            }
            @include respond-to(xs) {
                font-size: 14px;
                padding: 10px 0;
            }
        }
        @include respond-to(sm) {
            margin-right: 0 !important;
            gap: 0;
            li {
                margin: 0 10px;
            }
        }
        @include respond-to(xs) {
            gap: 0;
            text-align: center;
        }
    }
    .navbar-toggler {
        &:hover {
            background-color: $secondary;
            span {
                filter: brightness(0) invert(1);
            }
        }
    }

    .hd-user {
        .dropdown {
            .dropdown-toggle {
                padding-right: 30px;
                position: relative;
                @include respond-to(sm) {
                    margin-left: 15px;
                }
                .img {
                    display: inline-block;
                    width: 50px;
                    img {
                        width: 50px;
                        height: 50px;
                        object-fit: contain;
                        border: 6px solid #004187;
                        border-radius: 100%;
                    }
                }
                &::after {
                    display: none;
                }

                &:before {
                    content: "";
                    width: 18px;
                    height: 10px;
                    position: absolute;
                    right: 0;
                    top: 36%;
                    background-image: url("../../images/arrow-down.svg");
                    background-size: 100%;
                    transition: all 0.1s;
                }
            }

            &.show {
                .dropdown-toggle:before {
                    transform: rotate(-177deg);
                }
            }
        }
        @include respond-to(xs) {
            max-width: 80px;
            margin: 0 auto;
        }
    }
}
