section {
    padding: rem(80) 0;
    @include respond-to(xl) {
        padding: rem(55) 0;
    }
    @include respond-to(sm) {
        padding: rem(45) 0;
    }
    @include respond-to(xs) {
        padding: rem(35) 0;
    }

    &.hero {
        background-image: url(../../images/hero-bg.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        @include respond-to(sm) {
            background: none;
        }
        @include respond-to(xs) {
            background: none;
        }
        .content-block {
            max-width: 1100px;
            margin: 100px auto;
            text-align: center;
            @include respond-to(md) {
                margin: 50px 0;
            }
            @include respond-to(sm) {
                margin: 0;
            }
            @include respond-to(xs) {
                margin: 0;
            }
            h1 {
                color: $primary;
                font-size: 86px;
                span {
                    color: $secondary;
                }

                @include respond-to(md) {
                    font-size: 75px;
                }

                @include respond-to(sm) {
                    font-size: 55px;
                }

                @include respond-to(xs) {
                    font-size: 40px;
                }
            }

            p {
                max-width: 700px;
                margin: 20px auto;
            }

            a {
                margin: 0 auto;
            }
        }
    }

    &.overview {
        @include respond-to(xs) {
            .title-block {
                text-align: center;
            }
        }
        .icon-box {
            text-align: center;
            border-radius: 25px;
            padding: 35px 25px;
            margin: 20px 0;
            transition: all 0.5s;
            .img-block {
                margin: 0 auto 30px;
                width: 153px;
                height: 153px;
                border-radius: 100%;
                display: flex;
                align-items: center;
                background-image: url(../../images/icon-bg.svg);
                background-position: center;
                background-size: 100%;
                @include respond-to(md) {
                    width: 133px;
                    height: 133px;
                }
                img {
                    width: 150px;
                    height: 150px;
                    margin: 0 auto;
                    border-radius: 100%;
                    box-shadow: 0px 50px 90px rgba(107, 107, 107, 0.1);
                    @include respond-to(md) {
                        width: 130px;
                        height: 130px;
                    }
                }
            }
            .dis {
                h4 {
                    font-family: "Mont-SemiBold";
                    letter-spacing: 1px;
                    margin-bottom: 10px;
                    @include respond-to(xl) {
                        min-height: 52px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
            &:hover {
                background: #024287;
                * {
                    color: #fff;
                }
                .img-block {
                    background: #17bb9b;
                }
            }
        }
    }

    &.content-block {
        .content {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            flex-wrap: nowrap;

            @include respond-to(xs) {
                margin-top: 20px;
            }
            .dis {
                margin-bottom: 20px;
                @include respond-to(xl) {
                    max-width: 95%;
                }
            }
        }

        @include respond-to(xl) {
            .img-block {
                img {
                    max-width: 90%;
                    display: block;
                }
            }

            &.right {
                img {
                    margin: 0 0 0 auto;
                }
            }
        }

        &.right {
            @include respond-to(xs) {
                .row {
                    flex-direction: column-reverse;
                }
            }
        }
    }

    &.account {
        .form-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            @include respond-to(xs) {
                align-items: center;
            }
            .form-block {
                width: 100%;
                margin-top: 20px;
                .field,
                .ant-form-item {
                    margin-bottom: 25px;
                    .ant-input-affix-wrapper {
                        padding: 15px;
                        border: 1px solid #6f7070;
                        border-radius: 8px;
                    }
                    input {
                        background-color: #fff;
                        background-repeat: no-repeat;
                        background-position: 97% center;
                        padding-right: 50px;
                    }

                    input[name="username"],
                    input[name="email"] {
                        background-image: url(../../images/envelope.svg) !important;
                    }

                    input[type="password"] {
                        background-image: url(../../images/lock.svg) !important;
                        padding-right: 0;
                    }

                    &.terms {
                        position: relative;
                        padding-left: 30px;
                        input[type="checkbox"] {
                            width: 20px;
                            height: 20px;
                            border-radius: 12px;
                            position: absolute;
                            left: 0;
                            top: 3px;
                            @include respond-to(xs) {
                                top: 5px;
                                width: 15px;
                                height: 15px;
                            }
                        }

                        a {
                            text-transform: capitalize;
                            color: $secondary;
                        }
                    }
                }

                button {
                    width: 100%;
                    display: block;
                }

                .already-login {
                    margin-top: 15px;
                    text-align: center;
                    a {
                        font-family: "Source-Sans-Pro-SemiBold";
                        text-decoration: underline;
                    }
                }
            }

            @include respond-to(sm) {
                max-width: 500px;
                margin: 0 auto;
            }

            @include respond-to(xl) {
                padding-left: 100px;
            }
        }

        .img-block {
            @include respond-to(sm) {
                display: none;
            }

            @include respond-to(xs) {
                display: none;
            }
        }
    }
}
